* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slider-image img {
  width: 1000px;
  height: 600px;
  object-fit: cover;
  transition: 1s;
  opacity: 0;
}

img.loader {
  opacity: 1;
}

.slider-image div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ! Carousel 2 */

.slider2-content {
  max-width: 1000px;
  margin: 50px auto;
  overflow: hidden;
}

.slider2-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}